<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cms_01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cmslogoback"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cmslogoback"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ExpReportTot"></activity>
        <activity
            android:name=".HomeNew"
            android:label="@string/title_activity_home_new"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".register_students" />
        <activity android:name=".TimeTable" />
        <activity android:name=".retrivedata" />
        <activity android:name=".Insert_Activity" />
        <activity android:name=".UpdateTimetable" />
        <activity android:name=".update_delete" />
        <activity android:name=".Student_Profile" />
        <activity android:name=".Exp" />
        <activity android:name=".ADD_CLASS" />
        <activity android:name=".Classhome" />
        <activity android:name=".AddExp" />
        <activity android:name=".ExpMng" />
        <activity android:name=".ExpReport" />
        <activity android:name=".ExpUpdate" />
        <activity android:name=".Login" />
        <activity android:name=".test" />
        <activity android:name=".MainActivity" />
        <activity android:name=".welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>